<div class="container-width-content">
    <p id="container-titulo">User clients</p>

        <p id="back-main"><a href="/intranet/administracion/usuarios/en/usuario/{{data.usuario.usuario_id}}"><i class="bi bi-arrow-left"></i> Back to user panel</a></p>

        
         <table id="table-data-clientes">
            <thead>
                <tr>
                    <td colspan="3">{{data.usuario.usuario_nombre}} clients</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="table-data-clientes-text"><strong>Activate client</strong></td>
                    <td>
                        <select>
                            <option>Select a client</option>
                            <option value="0">All</option>
                            {{#each data.clientes}}
                            <option value="{{cliente_id}}">{{cliente_nombre}}</option>
                            {{/each}}
                        </select>
                    </td>
                    <td><button id="table-data-clientes-btn-add"><i class="bi bi-cloud-upload"></i></button></td>
                </tr>
                {{#each data.clientes_asociados}}
                <tr>
                    <td class="table-data-clientes-text">{{cliente_nombre}}</td>
                    <td>{{cliente_nombre}}</td>
                    <td><button id="table-data-clientes-btn-del"><i class="bi bi-trash"></i></button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>

</div>