<div class="container-width-content">
    <p id="container-titulo">User products</p>

        <p id="back-main"><a href="/intranet/administracion/usuarios/en/usuario/{{data.usuario.usuario_id}}"><i class="bi bi-arrow-left"></i> Back to user panel</a></p>

        
         <table id="table-data-familias">
            <thead>
                <tr>
                    <td colspan="3">{{data.usuario.usuario_nombre}} products</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="table-data-familias-text"><strong>Activate product</strong></td>
                    <td>
                        <select>
                            <option>Select a product</option>
                            <option value="0">All</option>
                            {{#each data.familias}}
                            <option value="{{familia_id}}">{{familia_nombre_en}}</option>
                            {{/each}}
                        </select>
                    </td>
                    <td><button id="table-data-familias-btn-add"><i class="bi bi-cloud-upload"></i></button></td>
                </tr>
                {{#each data.familias_asociadas}}
                <tr>
                    <td class="table-data-familias-text">{{familia_codigo}}</td>
                    <td>{{familia_nombre_en}}</td>
                    <td><button id="table-data-familias-btn-del"><i class="bi bi-trash"></i></button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>

</div>