<div class="container-width-content">
    <p id="container-titulo">Permisos del usuario</p>

        <p id="back-main"><a href="/intranet/administracion/usuarios/usuario/{{data.usuario.usuario_id}}"><i class="bi bi-arrow-left"></i> Volver al panel del usuario</a></p>

        
         <table id="table-data-permisos">
            <thead>
                <tr>
                    <td colspan="3">Permisos del usuario {{data.usuario.usuario_nombre}}</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="table-data-permisos-text"><strong>Otorgar permisos</strong></td>
                    <td>
                        <select id="permiso">
                            <option>Selecciona un permiso</option>
                            {{#each data.permisos}}
                            <option value="{{rol_permisos_id}}"><strong></strong>{{rol_permisos_nombre}} ({{rol_permisos_descripcion}})</option>
                            {{/each}}
                        </select>
                    </td>
                    <input type="hidden" name="usuario_id" value="{{data.usuario.usuario_id}}" id = "idUsuario">
                    <td><button onclick="modUser({{data.usuario.usuario_id}}, 'permiso')" id="table-data-permisos-btn-add"><i class="bi bi-cloud-upload"></i></button></td>
                </tr>
                {{#each data.persmisos_asociados}}
                <tr>
                    <td class="table-data-permisos-text">{{rol_permisos_nombre}}</td>
                    <td>{{rol_permisos_descripcion}}</td>
                    <td><button onclick="delPermiso('{{usuario_rol_permisos_id}}', 'idUsuario')" id="table-data-permisos-btn-del"><i class="bi bi-trash"></i></button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
</div>