    <!---------------------------------------------------------------->
    <!--MAIN CONTAINER-->
    <div id="common-main-container" onmousedown="clickedMainContainer(event)">
        <div id="common-main-container-ct1">
           <div id="common-main-container-ct2">

                <div id="cajas-nuevo-container">
                    <div id="cajas-nuevo-ct">
                        <input placeholder="Nº" type="number" id="cajas-nuevo-number">
                        <button>Añadir cajas</button>
                    </div>
                </div>


                <div id="cajas-container">
                    <table>
                        <tr id="cajas-container-head">
                            <td>Nº</td>
                            <td>Unidades</td>
                            <td>Peso</td>
                            <td>Notas</td>
                            <td>Valoración</td>
                            <td></td>
                            <td></td>
                        </tr>

                        {{#each data}}
                        <tr class="cajas-container-data">
                            <td>{{control_caja_orden}}</td>
                            <td>
                                <i class="bi bi-check-lg tick-confirm" id="tick-confirm-control_caja_unidades_{{control_caja_id}}"></i>
                                <input type="text" id="{{control_caja_id}}" value="{{control_caja_unidades}}" onchange="uploadDatos(this.id, this.value, {{control_caja_control_id}}, 'control_caja_unidades')">
                            </td>
                            <td>
                                <i class="bi bi-check-lg tick-confirm" id="tick-confirm-control_caja_peso_{{control_caja_id}}"></i>
                                <input type="text" id="{{control_caja_id}}" value="{{control_caja_peso}}" onchange="uploadDatos(this.id, this.value, {{control_caja_control_id}}, 'control_caja_peso')">
                            </td>
                            <td>
                                <i class="bi bi-check-lg tick-confirm" id="tick-confirm-control_caja_notas_{{control_caja_id}}"></i>
                                <input type="text" id="{{control_caja_id}}" value="{{control_caja_notas}}" onchange="uploadDatos(this.id, this.value, {{control_caja_control_id}}, 'control_caja_notas')">
                            </td>
                            <td>
                                <i class="bi bi-check-lg tick-confirm" id="tick-confirm-control_caja_valoracion_id_{{control_caja_id}}"></i>
                                <select id="{{control_caja_id}}" onchange="uploadDatos(this.id, this.value, {{control_caja_control_id}}, 'control_caja_valoracion_id')">
                                    <option value="{{control_caja_valoracion_id}}">{{control_caja_valoracion_nombre}}</option>
                                    {{#each valoraciones}}
                                        <option value="{{valoracion_id}}">{{valoracion_nombre}}</option>
                                    {{/each}}
                                </select>
                            </td>
                            <td><a href=""><i class="bi bi-images"></i></a></td>
                            <td><button><i class="bi bi-trash"></i></button></td>
                        </tr>
                        {{/each}}
                    </table>
                </div>



            </div>
        </div>
    </div>