<!---------------------------------------------------------------->
<!--MAIN CONTAINER-->
<div class="container-width-content content-subheader">


    <div class="contentData">
        <p class="contentDataContainerTitle">Estado del control</p>
        <div class="contentDataContainer">
            <label>Visibilidad del control</label>
            <select onchange="uploadDatos('{{control_id}}', this.value, 'estado')">
                <option value="{{data.informacion.control_estado}}">{{data.informacion.control_estado_nombre}}</option>
                <option value="1">Visible por el cliente</option>
                <option value="0">No visible por el cliente</option>
            </select>
            <i class="bi bi-check-lg tick-confirm" id="tick-confirm-control_cliente_id"></i>
        </div>
        {{#if (esAdmin user.rol)}}<tr>
            <div class="contentDataContainer">
                <label>Eliminar control</label>
                <button onclick="deleteControl('{{control_id}}', {{user.id}})"><i class="bi bi-trash"></i> Eliminar control</button>
            </div>
        {{/if}}
    </div>

    <div class="contentData">
        <p class="contentDataContainerTitle">Informes</p>
        <div class="contentDataContainer">
            <label>PDF en Epañol</label>
            <a href="/informe/pdf/es/{{control_id}}"><i class="bi bi-download"></i></a>
        </div>
        <div class="contentDataContainer">
            <label>PDF en Inglés</label>
            <a href="/informe/pdf/en/{{control_id}}"><i class="bi bi-download"></i></a>
        </div>
        <div class="contentDataContainer">
            <label>WEB en Epañol</label>
            <a href="/informe/web/{{control_id}}/es"><i class="bi bi-box-arrow-up-right"></i></a>
        </div>
        <div class="contentDataContainer">
            <label>WEB en Inglés</label>
            <a href="/informe/web/{{control_id}}/en"><i class="bi bi-box-arrow-up-right"></i></a>
        </div>
    </div>

    <div class="contentData">
        <p class="contentDataContainerTitle">E-mail</p>
        <div class="contentDataContainer">
            <label>Enviado</label>
            <input type="text" value="Total: {{data.informacion.control_enviado_correo}} veces" disabled>
        </div>
        <div class="contentDataContainer">
            <!--label>Enviar</label-->
            <button onclick="sendMailControlCliente('{{control_id}}')">Enviar E-mail</button>
        </div>
    </div>

    <div class="contentData">
        <p class="contentDataContainerTitle">Plantillas</p>
        {{#if data.informacion.plantillas}}
            {{#each data.informacion.plantillas}}
                <div class="contentDataContainer">
                    <label>{{plantilla_nombre}}</label>
                    <button onclick="deletePlantilla('{{control_id}}', '{{plantilla_id_hash}}')">Eliminar plantilla</button>
                </div>
            {{/each}}
        {{else}}
            <div class="contentDataContainer">
                No se han encontrado plantillas
            </div>  
        {{/if}}
    </div>


    <form action="/intranet/control/{{control_id}}/nueva/plantilla" method='post' class="contentData">
        <p class="contentDataContainerTitle">Nueva plantilla</p>
        <div class="contentDataContainer">
            <label>Nombre de la plantilla</label>
            <input type="text" placeholder="Nombre" name='nombre' required>
        </div>
        <div class="contentDataContainer">
            <label>Incluir datos</label>
            <select name='datos'>
                <option value="0">No</option>
                <option value="1">Si</option>
            </select>
        </div>
        <div class="contentDataContainer">
            <label>Incluir precarga</label>
            <select name='precarga'>
                <option value="0">No</option>
                <option value="1">Si</option>
            </select>
        </div>
        <div class="contentDataContainer">
            <label>Incluir grupos de control</label>
            <select name='gc'>
                <option value="0">No</option>
                <option value="1">Si</option>
            </select>
        </div>
        <div class="contentDataContainer">
            <label>Incluir acciones</label>
            <select name='acciones'>
                <option value="0">No</option>
                <option value="1">Si</option>
            </select>
        </div>
        <div class="contentDataContainer">
            <label>Incluir pesos</label>
            <select name='pesos'>
                <option value="0">No</option>
                <option value="1">Si</option>
            </select>
        </div>
        <div class="contentDataContainer">
            <label>Incluir pallets</label>
            <select name='pallets'>
                <option value="0">No</option>
                <option value="1">Si</option>
            </select>
        </div>
        <div class="contentDataContainer">
            <label>Incluir cajas</label>
            <select name='cajas'>
                <option value="0">No</option>
                <option value="1">Si</option>
            </select>
        </div>
        <div class="contentDataContainer">
            <label>Incluir documentación</label>
            <select name='documentación'>
                <option value="0">No</option>
                <option value="1">Si</option>
            </select>
        </div>
        <div class="contentDataContainer">
            <label>Incluir fotos</label>
            <select name='fotos'>
                <option value="0">No</option>
                <option value="1">Si</option>
            </select>
        </div>
        <div class="contentDataContainer">
            <!--label>Crear plantilla</label-->
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input type="hidden" name="control_id" value="{{control_id}}">
            <button type='submit'>Crear plantilla</button>
        </div>
    </div>




        

</div>