<!---------------------------------------------------------------->
<!--MAIN CONTAINER-->
<div class="container-width-content">


    <div class="container-width-min">
        <p id="container-titulo">Control panel {{#if (esCliente user.rol)}}{{else}}<a
                href="/intranet/nuevo/control">New control <i class="bi bi-plus-circle"></i></a>{{/if}}</p>
        <p id="inicio-saludo">Hi, {{user.nombre}}</p>

        {{#if (esCliente user.rol)}}
            <div id="inicio-stats-container-cliente">
            <a href='/clientes/controles/en' class="container-inicio-cliente">
                <p class="container-inicio-cliente-title">Check my survey reports</p>
                <i class="bi bi-file-earmark-text-fill container-inicio-cliente-icon"></i>
            </a>

            <a href='/clientes/envios/en' class="container-inicio-cliente">
                <p class="container-inicio-cliente-title">See my shipments</p>
                <i class="bi bi-truck container-inicio-cliente-icon"></i>
            </a>

            <a href='/clientes/envio/en/nuevo' class="container-inicio-cliente">
                <p class="container-inicio-cliente-title">Register a new shipment</p>
                <i class="bi bi-plus-circle-fill container-inicio-cliente-icon"></i>
            </a>

            <!--<a href='https://cloud.justq.eu' class="container-inicio-cliente">
                <p class="container-inicio-cliente-title">Solicitar nueva orden de inspección</p>
                <i class="bi bi-file-earmark-plus-fill container-inicio-cliente-icon"></i>
            </a>-->
            </div>

            {{else}}
            <div id="inicio-stats-container">
            <div class="inicio-stat" onClick="goFinalizados()">
                <p class="inicio-stat-title">Finished controls</p>
                <div class="inicio-stat-circle"><label>{{data.controles_activos}}</label></div>
            </div>
            <div class="inicio-stat" onClick="goPendientes()">
                <p class="inicio-stat-title">Pending controls</p>
                <div class="inicio-stat-circle"><label>{{data.controles_no_activos}}</label></div>
            </div>
            <div class="inicio-stats-container">
                <a class="inicio-stats-container-btn" href='/intranet/controles'>See all my controls</a>
            </div>
            {{/if}}
        </div>

    </div>

</div>