
<!--DETALLES DEL CONTROL--->    
<div style="width: auto;" class="mx-auto">

    <div style="width: 74%; display: inline-flex;">

          <table class="table" style="width: 100%;">
            <tr class="tr">
              <th class="th padd">Nº Control</th>
                <td class="td padd">{{DATA.datos.control_codigo}}</td>
              <th class="th padd">Date</th>
                <td class="td padd">{{valorNull DATA.datos.control_fecha}}</td>
              <th class="th padd">Country</th>
                <td class="td padd">{{valorNull DATA.datos.control_lugar}}</td>
            </tr>
            
            <tr class="tr">
              <th class="th padd">Place of control</th>
                <td class="td padd">{{valorNull DATA.datos.control_plataforma_nombre}}</td>
              <th class="th padd">Client</th>
                <td class="td padd" colspan="3">{{valorNull DATA.datos.control_cliente_nombre}}</td>
            </tr>

            <tr class="tr">
              <th class="th padd">Surveyor</th>
                <td class="td padd">{{DATA.datos.control_tecnico_nombre}}</td>
              <th class="th padd">Reference</th>
                <td class="td padd" colspan="3">{{valorNull DATA.datos.control_referencia}}</td>
            </tr>

            <tr class="tr">
              <th class="th padd" colspan="6">Comment</th>
            </tr>
            <tr class="tr">
              <td class="td padd" colspan="6">{{{valorNull DATA.datos.control_notas}}}</td>
            </tr>
          </table>

    </div>

    <div style="width: 25%; display: inline-flex;">

          <table class="table" style="width: 100%;">
            <tr class='tr'>
              <th class="th-title-center padd" colspan="2">Survey summary</th>
            </tr>
              
              {{#each DATA.grupos_control.content.grupos_control}}{{#if mostrar}}
                {{#if nombre_activo}}
                <tr class='tr'>
                    <th class='th padd'>{{grupo_control_nombre}}</th>
                    {{#if (empty valoracion)}}
                        {{#each valoracion}}
                          <td class='td padd' style='background-color: #{{color_codigo}};'></td>
                        {{else}}
                          <td class='td padd'></td>
                        {{/each}}

                    {{/if}}
                </tr>
                {{/if}}
              {{/if}}{{/each}}

              <tr class='tr'>
                <th class='th-title padd'>Conclusion</th>
                  <td class='td valoracion-td padd' style='background-color: #{{DATA.datos.control_valoracion_color}}'></td>
                  
              </tr>
          </table>

    </div>

<div>



<div class="title-section" style="margin-top: 100px;">
  <p>Shipping Information</p>
</div>

<div style="margin-top:20px; width: auto; padding-left: 5px;" class="mx-auto">

    <div style="width: 33%; display: inline-flex;">

            <table class='table' style="width: 100%;">
                <tr class="tr">
                  <th class="th-title-center padd" colspan="2">Shipping details</th>
                </tr>
                <tr class='tr'>
                  <th class='th padd'>Date of arrival</th>
                  <td class='td padd'>{{valorNull DATA.datos.control_expedicion_fecha_llegada}}</td>
                </tr>
                <tr class='tr'>
                  <th class='th padd'>Date of delivery</th>
                  <td class='td padd'>{{valorNull DATA.datos.control_expedicion_fecha_salida}}</td>
                </tr>
                <tr class='tr'>
                  <th class='th padd'>Container</th>
                  <td class='td padd'>{{valorNull DATA.datos.control_expedicion_contenedor}}</td>
                </tr>
                <tr class='tr'>
                  <th class='th padd'>Vessel</th>
                  <td class='td padd'>{{valorNull DATA.datos.control_expedicion_placa}}</td>
                </tr>
                <tr class='tr'>
                  <th class='th padd'>Puc. Supplier</th>
                  <td class='td padd'>{{valorNull DATA.datos.control_expedicion_puc_proveedor}}</td>
                </tr>
                <tr class='tr'>
                  <th class='th padd'>From</th>
                  <td class='td padd'>{{valorNull DATA.datos.control_expedicion_pais_origen_nombre}}</td>
                </tr>
                <tr class='tr'>
                  <th class='th padd'>to</th>
                  <td class='td padd'>{{valorNull DATA.datos.control_expedicion_pais_destino_nombre}}</td>
                </tr>
            </table>
    </div>

    <div style="width: 33%; display: inline-flex;">
           <table class='table' style="width: 100%;">
                <tr class="tr">
                  <th class="th-title-center padd" colspan="2">Goods</th>
                </tr>
                <tr class='tr'>
                  <th class='th padd'>Type of fruit</th>
                  <td class='td padd'>{{DATA.datos.control_producto_familia_nombre}}</td>
                </tr>
                <tr class='tr'>
                  <th class='th padd'>Variety</th>
                  <td class='td padd'>{{valorNull DATA.datos.control_producto_variedad_nombre}}</td>
                </tr>
                <tr class='tr'>
                  <th class='th padd'>Size</th>
                  <td class='td padd'>{{valorNull DATA.datos.control_producto_calibre}}</td>
                </tr>
                <tr class='tr'>
                  <th class='th padd'>Packaging</th>
                  <td class='td padd'>{{valorNull DATA.datos.control_producto_confeccion}}</td>
                </tr>
                <tr class='tr'>
                  <th class='th padd'>Brand</th>
                  <td class='td padd'>{{valorNull DATA.datos.control_producto_marca}}</td>
                </tr>
                <tr class='tr'>
                  <th class='th padd'>Lot number</th>
                  <td class='td padd'>{{valorNull DATA.datos.control_producto_lote}}</td>
                </tr>
                <tr class='tr'>
                  <th class='th padd'>Packaging date</th>
                  <td class='td padd'>{{valorNull DATA.datos.control_producto_fecha_confeccion}}</td>
                </tr>
            </table>
    </div>

    <div style="width: 32%; display: inline-flex;">
            <table class='table' style="width: 100%;">
                  <tr class="tr">
                    <th class="th-title-center padd" colspan="2">Packaging</th>
                  </tr>
                  <tr class='tr'>
                    <th class='th padd'>Packaging</th>
                    <td class='td padd'>{{valorNull DATA.datos.control_producto_tipo_confeccion_nombre}}</td>
                  </tr>
                  <tr class='tr'>
                    <th class='th padd'>Net weight</th>
                    <td class='td padd'>{{valorNull DATA.datos.control_packaging_peso}}</td>
                  </tr>
                  <tr class='tr'>
                    <th class='th padd'>Pallets</th>
                    <td class='td padd'>{{valorNull DATA.datos.control_packaging_pallets}}</td>
                  </tr>
                  <tr class='tr'>
                    <th class='th padd'>Boxes</th>
                    <td class='td padd'>{{valorNull DATA.datos.control_packaging_cajas_pallet}}</td>
                  </tr>
                  <tr class='tr'>
                    <th class='th padd'>Gross weight</th>
                    <td class='td padd'>{{valorNull DATA.datos.control_packaging_peso_bruto}}</td>
                  </tr>
                  <tr class='tr'>
                    <th class='th padd'>Net weight</th>
                    <td class='td padd'>{{valorNull DATA.datos.control_packaging_peso_neto}}</td>
                  </tr>
            </table>
    </div>
</div>


{{#if DATA.grupos_control.content.mostrar}}
<div class="page-n">


              <div class="title-section">
                <p>Quality Inspection</p>
              </div>  

            <div style="width: auto; padding-left: 12px;">

                {{#each DATA.grupos_control.content.grupos_control}}{{#if mostrar}}
                  <div style="width: 48%; display: inline-flex; margin-top: 30px; margin-right: 10px;">
                    <table class='table' style='width: 100%;'>

                      {{#if nombre_activo}}
                        <tr class='tr'>
                          <th class='th-title padd'>{{grupo_control_nombre}}</th>
                          <th class='th-title padd'>Result</th>
                            {{#each valoracion}}
                              <td class='valoracion-td padd' style='background-color:#{{color_codigo}};'></td>
                            {{else}}
                              <td class='valoracion-td padd'></td>
                            {{/each}}
                        </tr>
                      {{/if}}
                      
                        {{#each puntos_control}}
                          {{#if (pdf_value_mostrar control_punto_control_valor)}}
                            <tr class='tr'>   
                              <th class='th'>{{punto_control_nombre}}</th>
                              <td class='td'>{{valorNull control_punto_control_valor}}</td>
                                {{#each valoracion}}
                                  <td class='valoracion-td padd' style='background-color:#{{color_codigo}};'></td>
                                {{else}}
                                  <td class='valoracion-td padd'></td>
                                {{/each}}
                            </tr>
                          {{/if}}
                        {{/each}}

                        {{#each puntos_control_añadidos}}
                          {{#if (pdf_value_mostrar control_punto_control_añadidos_valor)}}
                            <tr class='tr'>   
                              <th class='th'>{{valorNull control_punto_control_añadidos_nombre_en}}</th>
                              <td class='td'>{{valorNull control_punto_control_añadidos_valor}}</td>
                                {{#each valoracion}}
                                  <td class='valoracion-td padd' style='background-color:#{{color_codigo}};'></td>
                                {{else}}
                                  <td class='valoracion-td padd'></td>
                                {{/each}}
                            </tr>      
                          {{/if}}                  
                        {{/each}}

                        <!--<tr class='tr'><td class='td'>Total</td><td class='td'>gdfgdfg</td><td class='td'></td></tr>-->
                    </table>
                  </div>
                {{/if}}{{/each}}  

            </div>       
</div>
{{/if}}


{{#if (esPrecarga DATA.datos.control_tipo_id)}}

<div class="page-n">

            <div style="width: 100%; page-break-before: auto;">

                {{#each DATA.precarga.data}}
                <div style="width: 100%; display: block; margin-bottom: 7px; display: block;">
                  <table class='table' style='width: 100%;'>
                      <tr class='tr'>
                        <th class='th-title' colspan="8">{{grupo_control_nombre}}</th>
                       
                      </tr>


                      {{#each puntos_control}}
                      {{#if (precargaTipoDato punto_control_tipo_dato_id)}}
                        <tr class='tr'>   
                          <th class='th'>{{punto_control_nombre}}</th>

                          {{#each agrupacion}}

                            <th class='th'>{{punto_control_agrupacion_nombre}}</th>
                            <td class='td'>{{valorNull control_punto_control_agrupacion_valor}}</td>                           

                          {{/each}}

                        </tr>                      
                      {{else}}
                        <tr class='tr'>   
                          <th class='th'>{{punto_control_nombre}}</th>
                          <td class='td'>{{valorNull control_punto_control_valor}}</td>
                        </tr>
                      {{/if}}
                      {{/each}}
                  </table>
                </div>
                {{/each}}  

            </div>       
</div>
{{/if}}



{{#if DATA.pesos.content.mostrar}}
<div class="page-n">

              <div class="title-section">
                <p>Weights</p>
              </div>  

            <table class='table' style='width: 100%;  margin-top: 20px;'>
              
                <tr class='tr'>
                   <th class='th-title'>Type of unit</th>
                   <th class='th-title'>Weight</th>
                </tr>


                {{#each DATA.pesos.content.pesos}}
                <tr class='tr'>
                  <th class='td'>{{valorNull control_peso_tipo_unidad_nombre}}</th>
                  <th class='td'>{{valorNull control_peso_valor}} Kg</th>
                </tr>
                {{/each}}

                <tr class='tr'>
                  <th class='th'>Middle weight</th>
                  <th class='th'>{{valorNull DATA.pesos.content.pesos.peso_total}} Kg</th>
                </tr>

            </table>

</div>
{{/if}}


{{#if DATA.pallets.content.mostrar}}
<div class="page-n">

              <div class="title-section">
                <p>Pallets</p>
              </div>  

            <table class='table' style='width: 100%;  margin-top: 20px;'>
              
                <tr class='tr'>
                   <th class='th-title'>SSC Supplier</th>
                   <th class='th-title'>SSCC Place of control</th>
                   <th class='th-title'>Date of delivery</th>
                   <th class='th-title'>Lot</th>
                   <th class='th-title'>Product</th>
                   <th class='th-title'>Variety</th>
                   <th class='th-title'>Making</th>
                   <th class='th-title'>Brand</th>
                </tr>


                {{#each DATA.pallets.content.pallets}}
                <tr class='tr'>
                  <th class='td'>{{valorNull control_pallet_sscc_proveedor}}</th>
                  <th class='td'>{{valorNull control_pallet_sscc_plataforma}}</th>
                  <th class='td'>{{control_pallet_fecha}}</th>
                  <th class='td'>{{valorNull control_pallet_lote}}</th>
                  <th class='td'>{{valorNull control_pallet_producto_nombre}}</th>
                  <th class='td'>{{valorNull control_pallet_variedad_nombre}}</th>
                  <th class='td'>{{valorNull control_pallet_confeccion}}</th>
                  <th class='td'>{{valorNull control_pallet_marca}}</th>
                </tr>
                {{/each}}

            </table>

            {{#if pallets_control.tablas_pallets}}
              {{#each pallets_control.tablas_pallets}}
                <table class='table' style='width: 100%;  margin-top: 20px;'> 
                  <tbody>
                    <tr class='tr'>
                      <th class="th" colspan="{{control_tabla_filas}}">{{control_tabla_nombre}}</th>
                    <tr>
                    {{#each filas}}
                      <tr class='tr'>
                      {{#each this}}
                        <td class='td'>{{valorNull control_tabla_data_valor}}</td>
                      {{/each}}
                      <tr>
                    {{/each}}
                  </tbody>
                </table>
              {{/each}}
            {{/if}}

</div>

{{else}}

            {{#if pallets_control.tablas_pallets}}
            <div class="page-n">
              <div class="title-section">
                <p>Pallets</p>
              </div>           
              {{#each pallets_control.tablas_pallets}}
                <table class='table' style='width: 100%;  margin-top: 20px;'> 
                  <tbody>
                    <tr class='tr'>
                      <th class="th" colspan="{{control_tabla_filas}}">{{control_tabla_nombre}}</th>
                    <tr>
                    {{#each filas}}
                      <tr class='tr'>
                      {{#each this}}
                        <td class='td'>{{valorNull control_tabla_data_valor}}</td>
                      {{/each}}
                      <tr>
                    {{/each}}
                  </tbody>
                </table>
              {{/each}}
            </div>
            {{/if}}

{{/if}}

{{#if DATA.cajas.content.mostrar}}
<div class="page-n">
            <div class="title-section">
              <p>Boxes</p>
            </div>

            <table class='table' style='width: 100%;  margin-top: 20px;'>
              
                <tr class='tr'>
                   <th class='th-title'>Nº</th>
                   <!--<th class='th-title'>Family</th>-->
                   <th class='th-title'>Units</th>
                   <th class='th-title'>Weight</th>
                   <th class='th-title'>Notes</th>
                   <th class='th-title'></th>
                </tr>


                {{#each DATA.cajas.content.cajas}}
                <tr class='tr'>
                  <td class='td'>{{valorNull control_caja_orden}}</td>
                  <!--<td class='td'>{{valorNull control_caja_familia}}</td>-->
                  <td class='td'>{{valorNull control_caja_unidades}}</td>
                  <td class='td'>{{valorNull control_caja_peso}}</td>
                  <td class='td'>{{valorNull control_caja_notas}}</td>
                  {{#each valoracion}}
                    <td class='td valoracion-td' style='background-color:#{{color_codigo}};'></td>
                  {{/each}}
                </tr>
                {{/each}}

            </table>

            {{#if cajas_control.tablas_cajas}}
              {{#each cajas_control.tablas_cajas}}
                <table class='table' style='width: 100%;  margin-top: 20px;'> 
                  <tbody>
                    <tr class='tr'>
                      <th class="th" colspan="{{control_tabla_filas}}">{{control_tabla_nombre}}</th>
                    <tr>
                    {{#each filas}}
                      <tr class='tr'>
                      {{#each this}}
                        <td class='td'>{{valorNull control_tabla_data_valor}}</td>
                      {{/each}}
                      <tr>
                    {{/each}}
                  </tbody>
                </table>
              {{/each}}
            {{/if}}

</div>

{{else}}

            {{#if cajas_control.tablas_cajas}}
            <div class="page-n">
              <div class="title-section">
                <p>Boxes</p>
              </div>         
              {{#each cajas_control.tablas_cajas}}
                <table class='table' style='width: 100%;  margin-top: 20px;'> 
                  <tbody>
                    <tr class='tr'>
                      <th class="th"colspan="{{control_tabla_filas}}">{{control_tabla_nombre}}</th>
                    <tr>
                    {{#each filas}}
                      <tr class='tr'>
                      {{#each this}}
                        <td class='td'>{{valorNull control_tabla_data_valor}}</td>
                      {{/each}}
                      <tr>
                    {{/each}}
                  </tbody>
                </table>
              {{/each}}
            </div>
            {{/if}}

{{/if}}


{{#if DATA.acciones.content.mostrar}}
<div class="page-n">

    <div class="title-section">
      <p>Comments</p>
    </div>

    <table class='table' style="width:100%; margin-top:30px; border:0;">
      <tbody>

        {{#each DATA.acciones.content.acciones.imagenesRef0}}
          <tr class="tr" style='border:0;'>
              <td style='width:90%; max-height: 850px; border: 0;'>
                <img style='width:100%; max-height: 850px; display: block; margin-left: auto; margin-right: auto;' src='https://fotos.justq.eu/{{foto_control_accion_foto}}'/>
              </td>
          </tr>
        {{/each}}

        {{#each DATA.acciones.content.acciones}}
          <tr class='tr' style='border:0;'>
            <td style="border: 0;">
              {{{valorNull control_accion_nombre}}}
            </td>
          </tr>

          {{#each imagenes}}
            <tr class="tr" style='border:0;'>
              <td style='width:90%; max-height: 850px; border: 0;'>
                <img style='width:100%; max-height: 850px; display: block;  margin-left: auto; margin-right: auto;' src='https://fotos.justq.eu/{{foto_control_accion_foto}}'/>
              </td>
            </tr>
          {{/each}}

        {{/each}}



        {{#if DATA.configuracion.data.cliente_firma_justq}}<tr class='tr' style='border:0;'><td class='td' style='border:0;'><img src="/images/sello.jpeg" style="width:150px;"/></td></tr>{{/if}}
      
      </tbody>
    </table>

</div>
{{/if}}


{{#if DATA.documentacion.content.mostrar}}
<div class="page-n">

    <div class="title-section">
      <p>Documentation</p>
    </div>

      <table class='table' style='width:100%; margin-top:4px; border: 0;'>

        {{#each DATA.documentacion.content.documentacion}}
        <tr>
          <td style='width:90%;  max-height: 850px;'>
            <img style='width:100%; max-height: 850px; margin-top: 5px; display: block; margin-left:auto; margin-right: auto;' src='https://fotos.justq.eu/{{foto_control_documentacion_foto}}'/>
          </td>
        </tr>
        {{/each}}
      </table>

</div>
{{/if}}


{{#if DATA.pesos.content.mostrar_fotos}}
<div class="page-n">
              
    <div class="title-section">
      <p>Weights Photos</p>
    </div>
              
    <table class='table' style='width:100%; margin-top:5px; border: 0;'>

      <tbody>
        {{#each DATA.pesos.content.pesos.fotos}}
          <tr>
            <img style='width: 450px; height: 448px; display: block; margin-left:auto; margin-right: auto; margin-top: 5px;' src='https://fotos.justq.eu/{{foto_control_peso_foto_nombre}}'/>
          </tr>
        {{/each}}
      </tbody>
                      
    </table>
</div>
{{/if}}


{{#if DATA.pallets.content.mostrar_fotos}}
<div class="page-n">
              
    <div class="title-section">
      <p>Pallets Photos</p>
    </div>
              
    <table class='table' style='width:100%; margin-top:5px; border: 0;'>

      <tbody>
        {{#each DATA.pallets.content.pallets.fotos}}
          <tr>
            <img style='width: 450px; height: 448px; display: block; margin-left:auto; margin-right: auto; margin-top: 5px;' src='https://fotos.justq.eu/{{foto_control_pallet_foto_nombre}}'/>
          </tr>
        {{/each}}
      </tbody>
                      
    </table>
</div>
{{/if}}


{{#if DATA.cajas.content.mostrar_fotos}}
<div class="page-n">
              
    <div class="title-section">
      <p>Boxes Photos</p>
    </div>
              
    <table class='table' style='width:100%; margin-top:5px; border: 0;'>

      <tbody>
        {{#each DATA.cajas.content.cajas.fotos}}
          <tr>
            <img style='width: 450px; height: 435px; display: block; margin-left:auto; margin-right: auto; margin-top: 0px;' src='https://fotos.justq.eu/{{foto_control_caja_foto_nombre}}'/>
            <p style='text-align: center; width:450px; font-size: 10px; font-weight: bold; background-color:#b3d1ff; display: block; margin-left: auto; margin-right: auto; margin-top: 0px; margin-bottom: 0px;'>Box {{control_caja_orden}}</p>
          </tr>
        {{/each}}

        {{#each DATA.cajas.content.cajas.fotos_principal}}
          <tr>
            <img style='width: 450px; height: 435px; display: block; margin-left:auto; margin-right: auto; margin-top: 0px; margin-top: 5px;' src='https://fotos.justq.eu/{{foto_control_caja_foto_nombre}}'/>
          </tr>
        {{/each}}
      </tbody>
                      
    </table>
</div>
{{/if}}



{{#if DATA.grupos_control.content.mostrar_fotos}}
<div class="page-n">
              
    <div class="title-section">
      <p>Checkpoints Photos</p>
    </div>
              
    <table class='table' style='width:100%; margin-top:5px; border: 0;'>

      <tbody>
        {{#each DATA.grupos_control.content.grupos_control}}

          {{#each puntos_control}}

            {{#each fotos}}
                <tr>
                  <img style='width: 450px; height: 435px; display: block; margin-left:auto; margin-right: auto; margin-top: 0px;' src='https://fotos.justq.eu/{{foto_punto_control_foto}}'/>
                  <p style='text-align: center; width:450px; font-size: 10px; font-weight: bold; background-color:#b3d1ff; display: block; margin-left: auto; margin-right: auto; margin-top: 0px; margin-bottom: 0px;'>{{punto_control_nombre}}</p>
                </tr>
            {{/each}}
            
          {{/each}}

          {{#each puntos_control_añadidos}}

            {{#each fotos}}
                <tr>
                  <img style='width: 450px; height: 435px; display: block; margin-left:auto; margin-right: auto; margin-top: 0px;' src='https://fotos.justq.eu/{{foto_punto_control_añadido_foto}}'/>
                  <p style='text-align: center; width:450px; font-size: 10px; font-weight: bold; background-color:#b3d1ff; display: block; margin-left: auto; margin-right: auto; margin-top: 0px; margin-bottom: 0px;'>{{valorNull control_punto_control_añadidos_nombre}}</p>
                </tr>
            {{/each}}
          
          {{/each}}

        {{/each}}
      </tbody>
                      
    </table>
</div>
{{/if}}



          
{{#if DATA.fotos.content.mostrar}}
<div class="page-n">
              
    <div class="title-section">
      <p>Photo Report</p>
    </div>
              
    <table class='table' style='width:100%; margin-top:5px; border: 0;'>

      <tbody>
        {{#each DATA.fotos.content.fotos}}
          <tr>
            <img style='width: 450px; height: 448px; display: block; margin-left:auto; margin-right: auto; margin-top: 5px;' src='https://fotos.justq.eu/{{foto_control_foto}}'/>
          </tr>
        {{/each}}
      </tbody>
                      
    </table>
</div>
{{/if}}
           

        



    <!--<div style="page-break-before: always;">the third page</div>-->
