<!---------------------------------------------------------------->
<!--MAIN CONTAINER-->
<div class="container-width-content content-subheader">



    {{#each data}}
    <div class="contentData">
        <p class="contentDataContainerTitle">{{grupo_control_nombre_en}}</p>

        {{#each puntos_control}}
            <div class="contentDataContainer">
                <label>{{punto_control_nombre_en}}</label>

                {{#if (precargaTipoDato punto_control_tipo_dato_id)}}
                    {{#each agrupacion}}
                        <div class="contentData">
                            <p class="contentDataContainerTitle">{{punto_control_agrupacion_nombre_en}}</p>
                            <div class="contentDataContainer">
                                <i class="bi bi-check-lg tick-confirm" id="tick-confirm-{{control_punto_control_agrupacion_id}}"></i>
                                <input id="{{punto_control_agrupacion_id}}" value='{{valorNull control_punto_control_agrupacion_valor}}' onchange="uploadDatos('{{control_punto_control_agrupacion_id}}','{{control_punto_control_agrupacion_control_id}}', this.value, 3)">
                            </div>
                        </div>
                    {{/each}}
                {{/if}}

                {{#if (listboxTipoDato punto_control_tipo_dato_id)}}
                    <select onchange="uploadDatos('{{control_punto_control_id}}','{{control_punto_control_control_id}}', this.value, {{punto_control_tipo_dato_id}})">
                        <option value='' selected>{{valorNull control_punto_control_valor}}</option>
                        <option value='null'>No data</option>
                        <option value='SI'>YES</option>
                        <option value='NO'>NO</option>
                    </select>
                    <i class="bi bi-check-lg tick-confirm" id="tick-confirm-{{control_punto_control_id}}"></i>
                {{/if}}

                {{#if (textoTipoDato punto_control_tipo_dato_id)}}
                    <input type='text' value='{{valorNull control_punto_control_valor}}' onchange="uploadDatos('{{control_punto_control_id}}','{{control_punto_control_control_id}}', this.value, {{punto_control_tipo_dato_id}})">
                    <i class="bi bi-check-lg tick-confirm" id="tick-confirm-{{control_punto_control_id}}"></i>
                {{/if}}
            </div>
        {{/each}}

    </div>
    {{/each}}

</div>