<div class="container-width-content">
    <p id="container-titulo">Places of control <a href="/intranet/administracion/plataformas/en/nuevo">New place of control <i class="bi bi-plus-circle"></i></a></p>



    <div class="containerFilter">
        <button class='toggleFilter'>Filters</button>
        <form class="contentFilter" action="/intranet/administracion/plataformas/en/search" method="POST">
            <div class="contentFilterContainer">
                <label>Name</label>
                <input type="text" name="plataforma_nombre" placeholder="Name">
            </div>

            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button id="list-search-btn" class="contentFilterSubmit" type="submit">Apply filters</button>
        </form>
    </div>

    <table class="tableList" id="tablePlataformas">
        <thead>
            <tr>
                <td>Name</td>
                <td>Status</td>
            </tr>
        </thead>
        <tbdoy>
            {{#each data}}
                <tr class="plataformas-list-table-content" onclick="goFormPlataforma('{{plataforma_id}}', '{{plataforma_nombre}}')">
                    <td>{{plataforma_nombre}}</td>
                    <td><label class="plataformas-list-table-status {{#iffcond plataforma_estado_id '===' 0}}plataformas-list-table-status-inactive"{{/iffcond}}{{#iffcond plataforma_estado_id '===' 1}}plataformas-list-table-status-active"{{/iffcond}}>{{plataforma_estado_nombre}}</label></td>
                </tr>
            {{/each}}
        </tbdoy>
    </table>
 
    <div class="popup-form" id="formPlataforma">
        <form id="options-ct" method="POST" action="/intranet/administracion/plataformas/en/plataforma/editar-plataforma">
            <p class="contentDataContainerTitle">Modify place of control</p>

            <div class="contentDataContainer">
                <label>Name</label>
                <input id="plataforma_mod" name="plataforma_mod" type="text" required>
            </div>

            <div class="contentDataContainer">
                <label>Status</label>
                <select name="estado">
                    <option value="1">Activo</option>
                    <option value="0">No activo</option>
                </select>
            </div>

            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input type="hidden" name="plataforma_id" value="" id = "idPlataforma">               

            <button type="submit">Save</button>
            <button type="button" onclick="closeForm()">Close</button>
        </form>
    </div>

</div>