{{#if DATA.pallets.content.mostrar}}
  <div class="content" id="tab-pallets">
    <table class="table">
      <tr>
          <th id="table-title">SSC Proveedor</th>
          <th id="table-title">SSCC Plataforma</th>
          <th id="table-title">Fecha de llegada</th>
          <th id="table-title">Nº Lote</th>
          <th id="table-title">Producto</th>
          <th id="table-title">Variedad</th>
          <th id="table-title">Confección</th>
          <th id="table-title">Marca</th>
      </tr>
      {{#each DATA.pallets.content.pallets}}
      <tr>
        <td>{{valorNull control_pallet_sscc_proveedor}}</td>
        <td>{{valorNull control_pallet_sscc_plataforma}}</td>
        <td>{{control_pallet_fecha}}</td>
        <td>{{valorNull control_pallet_lote}}</td>
        <td>{{valorNull control_pallet_producto_nombre}}</td>
        <td>{{valorNull control_pallet_variedad_nombre}}</td>
        <td>{{valorNull control_pallet_confeccion}}</td>
        <td>{{valorNull control_pallet_marca}}</td>
      </tr>
      {{/each}}
    </table>
    {{#if pallets_control.tablas_pallets}}
      {{#each pallets_control.tablas_pallets}}
        <table> 
          <tbody>
            <tr>
              <th colspan="{{control_tabla_filas}}">{{control_tabla_nombre}}</th>
            </tr>
            {{#each filas}}
              <tr>
              {{#each this}}
                <th>{{valorNull control_tabla_data_valor}}</th>
              {{/each}}
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{/each}}
    {{/if}}

  {{#if pallets_control.tablas_pallets}}          
    {{#each pallets_control.tablas_pallets}}
      <table> 
        <tbody>
          <tr>
            <th colspan="{{control_tabla_filas}}">{{control_tabla_nombre}}</th>
          </tr>
          {{#each filas}}
            <tr>
            {{#each this}}
              <th>{{valorNull control_tabla_data_valor}}</th>
            {{/each}}
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/each}}
  {{/if}}




  {{#if DATA.pallets.content.mostrar_fotos}}
    <p id="content-fotos-p">Fotos</p> 
    <hr>
    {{#each DATA.pallets.content.pallets.fotos}}
      <div class="img-container">
        <img src='https://fotos.justq.eu/{{foto_control_pallet_foto_nombre}}'/>
      </div>
    {{/each}}
  {{/if}}


  </div>
{{/if}}
